body {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  padding: .5rem;
  background: antiquewhite;
  text-align: center;
  overflow-x: hidden;
  
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  list-style: none;

}

nav a {
  text-decoration: underline;
  color:whitesmoke;

}

nav a:hover {
  color: red;
}



header {
  background-color: rgba(0, 0, 0, 0.959);
  color: whitesmoke;
  text-align: center;
  padding: 0.5em;
}

article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.video-container {
    display: flex;
  justify-content: center;
}


.cards {
  display: flex;
  justify-content: center;
  }

.review-card {
  color: antiquewhite;
  background-color: rebeccapurple;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50rem;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}


.user-info h3 {
  margin: auto;
}

.review-text {
  margin-top: 1rem;
  font: 1em;
}


.video-h3 {
  display: inline-block;
  max-width: 55ch;
}



footer {
  padding-top: 2rem;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  position: sticky;
  padding: 0.5rem;
  width: 100%;
  
}

.doormat {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  padding: .5rem;
}



/* MOBILE VIEW */

@media (max-width: 40rem) {
 body { max-width: fit-content;
  overflow-x: hidden;
  }
}

@media (max-width: 40rem) {
section {
  display: flex;
  justify-content: center;
  padding-right: 3rem;
  padding-left: 3rem;
  max-width: 75ch;
  margin-right: 10%;
  margin-left: 10%;
  
}
}