

nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  list-style: none;

}

nav a {
  text-decoration: underline;
  color:rgba(5, 0, 0, 0.877);

}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  width: 30%;
  gap: 1rem;
  text-align: center;
 
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 30%;
  grid-column-start: 1;
  grid-column-end: 3;

}